loki:
  auth_enabled: true # default is true
  images:
    tag: "3.5.1"
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  tracing:
    enabled: true
  ingester:
    chunk_encoding: snappy
  querier:
    # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
    max_concurrent: 4
  pattern_ingester:
    enabled: true
  limits_config:
    retention_period: 720h # 30 days
    allow_structured_metadata: true
    volume_enabled: true
    query_timeout: 3m # Timeout when querying backends (ingesters or storage) during the execution of a query request. Default is 1m. 
  storage:
    type: s3
    s3:
      endpoint: http://minio-dev.minio-dev.svc:9000
      s3: s3://loki-data-bucket
      s3ForcePathStyle: true
      insecure: true
      accessKeyId: minioadmin
      secretAccessKey: minioadmin
    bucketNames:
      chunks: loki-data-bucket
      ruler: loki-ruler-bucket
      admin: loki-admin-bucket
  commonConfig:
    replication_factor: 3
  rulerConfig:
    storage:
      type: local
      local:
        directory: /var/loki/rules
    wal:
      dir: /var/loki/ruler-wal
    rule_path: /var/loki/rules-temp
    remote_write:
      enabled: true
      add_org_id_header: true  # X-Scope-OrgID を自動付与
      clients:
        default:
          url: http://cortex-tenant:8080/api/v1/push # X-Scope-OrgID ヘッダーをThanosのTHANOS-TENANTヘッダーに変換してくれるcortex-tenantに送信

deploymentMode: Distributed

gateway:
  replicas: 2
  affinity: # defaultのanti-affinityを無効化
  service:
    type: NodePort
    nodePort: 31100
ingester:
  replicas: 3 # To ensure data durability with replication
  extraEnv:
    - name: JAEGER_ENDPOINT
      value: "http://multi-tenant-tempo-distributor.monitoring.svc.cluster.local:14268/api/traces"
    - name: JAEGER_SAMPLER_TYPE
      value: "const"
    - name: JAEGER_SAMPLER_PARAM
      value: "1.0"
  zoneAwareReplication:
    enabled: false
  affinity: # defaultのanti-affinityを無効化（insgesterの場合、zoneAwareReplication.enabled: falseも必要）
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: ScheduleAnyway
      labelSelector:
        matchLabels:
          app.kubernetes.io/component: ingester
  persistence:
    enabled: true
querier:
  replicas: 3 # Improve query performance via parallelism
  extraEnv:
    - name: JAEGER_ENDPOINT
      value: "http://multi-tenant-tempo-distributor.monitoring.svc.cluster.local:14268/api/traces"
    - name: JAEGER_SAMPLER_TYPE
      value: "const"
    - name: JAEGER_SAMPLER_PARAM
      value: "1.0"
  maxUnavailable: 2
  affinity: # defaultのanti-affinityを無効化
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: ScheduleAnyway
      labelSelector:
        matchLabels:
          app.kubernetes.io/component: querier
queryFrontend:
  replicas: 2
  extraEnv:
    - name: JAEGER_ENDPOINT
      value: "http://multi-tenant-tempo-distributor.monitoring.svc.cluster.local:14268/api/traces"
    - name: JAEGER_SAMPLER_TYPE
      value: "const"
    - name: JAEGER_SAMPLER_PARAM
      value: "1.0"
  maxUnavailable: 1
queryScheduler:
  replicas: 2
  extraEnv:
    - name: JAEGER_ENDPOINT
      value: "http://multi-tenant-tempo-distributor.monitoring.svc.cluster.local:14268/api/traces"
    - name: JAEGER_SAMPLER_TYPE
      value: "const"
    - name: JAEGER_SAMPLER_PARAM
      value: "1.0"
distributor:
  replicas: 3 
  extraEnv:
    - name: JAEGER_ENDPOINT
      value: "http://multi-tenant-tempo-distributor.monitoring.svc.cluster.local:14268/api/traces"
    - name: JAEGER_SAMPLER_TYPE
      value: "const"
    - name: JAEGER_SAMPLER_PARAM
      value: "1.0"
  maxUnavailable: 2
  affinity: # defaultのanti-affinityを無効化
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: ScheduleAnyway
      labelSelector:
        matchLabels:
          app.kubernetes.io/component: distributor
compactor:
  replicas: 1
  retention_enabled: true
  working_directory: /tmp/loki/retention
  delete_request_store: s3
  retention_delete_delay: 2h
  extraEnv:
    - name: JAEGER_ENDPOINT
      value: "http://multi-tenant-tempo-distributor.monitoring.svc.cluster.local:14268/api/traces"
    - name: JAEGER_SAMPLER_TYPE
      value: "const"
    - name: JAEGER_SAMPLER_PARAM
      value: "1.0"
  persistence:
    enabled: true
indexGateway:
  replicas: 2
  extraEnv:
    - name: JAEGER_ENDPOINT
      value: "http://multi-tenant-tempo-distributor.monitoring.svc.cluster.local:14268/api/traces"
    - name: JAEGER_SAMPLER_TYPE
      value: "const"
    - name: JAEGER_SAMPLER_PARAM
      value: "1.0"
  maxUnavailable: 1
  persistence:
    enabled: true
ruler:
  enabled: true
  replicas: 1
  persistence:
    enabled: true
    size: 10Gi
  directories:
    homelab:
      rules.yaml: |
        groups:
          - name: metrics-from-logs
            rules:
              - record: loki:log_lines:1m
                expr: |
                  count_over_time({app="loki"}[1m])
    testtenant:
      rules.yaml: |
        groups:
          - name: error-metrics
            rules:
              - record: loki:loki-gateway-rate:5m
                expr: |
                  rate({pod=~"loki-gateway-.*"}[5m]) or vector(0)

# Disable (set 0) components that are not needed in Microservices Mode
test:
  enabled: false
lokiCanary:
  enabled: false
bloomPlanner:
  replicas: 0
bloomBuilder:
  replicas: 0
bloomGateway:
  replicas: 0

backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

singleBinary:
  replicas: 0