apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-thanos-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 30s

    remote_write:
      - url: http://cortex-tenant.monitoring.svc:8080/push

    - job_name: 'kube-state-metrics'
      static_configs:
      - targets: ['kube-state-metrics.monitoring.svc.cluster.local:8080']
        labels:
          tenant: kube-state-metrics

    - job_name: 'grafana'
      static_configs:
      - targets: ['grafana.monitoring.svc.cluster.local']
        labels:
          tenant: grafana2

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-thanos
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus-thanos
  template:
    metadata:
      labels:
        app: prometheus-thanos
        revision: 20251014-03
    spec:
      containers:
      - name: prometheus
        image: prom/prometheus:v3.4.1
        args:
        - --config.file=/etc/prometheus/prometheus.yml
        - --storage.tsdb.path=/prometheus
        - --storage.tsdb.retention.time=2h
        - --web.enable-lifecycle
        - --web.enable-admin-api
        - --web.enable-otlp-receiver
        ports:
        - name: http
          containerPort: 9090
        volumeMounts:
        - name: config
          mountPath: /etc/prometheus
        - name: data
          mountPath: /prometheus
        resources:
          requests:
            cpu: 300m
            memory: 500Mi
      volumes:
      - name: config
        configMap:
          name: prometheus-thanos-config
      - name: data
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-thanos
  namespace: monitoring
spec:
  type: NodePort
  selector:
    app: prometheus-thanos
  ports:
  - name: http
    port: 9090
    targetPort: http
    nodePort: 31000