# multitenancyEnabled: true
multitenancyEnabled: false
storage:
  trace:
    backend: s3
    s3:
      endpoint: minio-dev.minio-dev.svc.cluster.local:9000
      bucket: tempo-bucket
      access_key: minioadmin
      secret_key: minioadmin
      insecure: true
distributor:
  replicas: 1
ingester:
  replicas: 1
  config:
    replication_factor: 1
compactor:
  replicas: 1
  config:
    compaction:
      block_retention: 168h  # データを7日間（168時間）保存
querier:
  replicas: 1
queryFrontend:
  replicas: 1
  # 2025/06/27 なぜかquert-frontendだけ、affinityを無効にしてもAnti-Affinityに引っ掛かってPendingになるため、tolerationsを追加してMasterノードに配置
  tolerations:
    - key: "node-role.kubernetes.io/master"
      operator: "Exists"
      effect: "NoSchedule"

# global:
#   clusterDomain: cluster.local
# metaMonitoring:
#   serviceMonitor:
#     enabled: true
traces:
  otlp:
    grpc:
      enabled: true
    http:
      enabled: true
  jaeger:
    thriftHttp:
      enabled: true # 14268 port